<!DOCTYPE html>
<html class="full-height" lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="vfaWDZQYrNK7G3GJBGlc_4o0xS0bJNEEw3h_8M5Xrks">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Indavelopers - Consultoría, desarrollo y formación en cloud computing, big data y ML/IA"/>
    <meta name="keywords" content="cloud, google cloud, cursos cloud, big data, aprendizaje automático, consultoría, desarrollo, formación">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/mdb.min.css">
    <link rel="stylesheet" href="static/styles/main.css">
</head>
<body id="top">
    {% block content %}{% endblock %}
    <!-- scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="static/js/popper.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/mdb.min.js"></script>
    <script>new WOW().init();</script>
</body>
</html>