{% extends "base.html" %}

{% block title %}
Inicio
{% endblock %}

{% block content %}
<header>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="navbar">
        <div class="container"><a class="navbar-brand" href="#"><strong>Indavelopers</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" 
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="#servicios">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#areas">Areas of work</a></li>
                    <li class="nav-item"><a class="nav-link" href="#comunidades">Communities</a></li>
                    <li class="nav-item"><a class="nav-link" href="#clientes">Clients</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contacto">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Intro Section-->
    <section class="view hm-gradient" id="intro">
        <div class="full-bg-img d-flex align-items-center">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-10 col-lg-6 text-center text-md-left margins">
                        <div class="white-text">
                            <div class="wow fadeInLeft" data-wow-delay="0.3s">
                                <h1 class="h1-responsive font-bold mt-sm-5">The latest technologies at your service</h1>
                                <div class="h6">We bring the latest innovations and technologies to real projects that add value to your company.</div>
                                <div class="h6">We analyze your project and propose effective and efficient solutions to enhance it.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<div id="content">
    <!-- 3 columns text -->
    <section class="text-center py-5 grey lighten-4" id="servicios">
        <div class="container">
            <div class="wow fadeIn">
                  <h2 class="h1 pt-5 pb-3">Services</h2>
                  <p class="px-5 mb-5 pb-3 lead blue-grey-text">We have experience managing projects alongside our clients externally or integrated and on our 
                    own initiative.</p>
            </div>
            <div class="row">
                <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".3s"><i class="fa fa-comments-o fa-3x blue2-text"></i>
                    <h3 class="h4 mt-3">Consulting</h3>
                    <p class="mt-3 blue-grey-text">Our experience at your service, accompanying you at all times to achieve faster progress.</p>
                </div>
                <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-cubes fa-3x orange1-text"></i>
                    <h3 class="h4 mt-3">Development</h3>
                    <p class="mt-3 blue-grey-text">Project management, analysis and solution planning, integral development with agile methodologies.<br>Network of 
                        çspecialized professionals.</p>
                </div>
                <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-group fa-3x orange2-text"></i>
                    <h3 class="h4 mt-3">Training</h3>
                    <p class="mt-3 blue-grey-text">Internal training and team development.<br>Development and delivery of specialized courses.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- 3 columns colored -->
    <section class="text-center py-5 bg-blue21 text-white" id="areas">
        <div class="container">
            <div class="wow fadeIn">
                <h2 class="h1 pt-5 pb-3">Main areas of work</h2>
                <p class="px-5 mb-5 pb-3 lead">Multidisciplinary projects.<br>Specialists in Google Cloud Platform.</p>
            </div>
            <div class="row wow zoomIn blue22-text">
                <div class="col-lg-4 col-md-12 mb-r">
                    <div class="card card-image">
                        <div class="text-center pricing-card d-flex align-items-center rgba-bg-color_blue py-3 px-3 rounded">
                            <div class="card-body">
                                <div class="h5">Cloud infrastructure</div>
                                <div class="py-5"><span class="display-1">Cloud</span></div>
                                <ul class="list-unstyled">
                                    <li><p>Online and hybrid architectures</p></li>
                                    <li><p>High availability and scalable infrastructure</p></li>
                                    <li><p>Distributed deployments</p></li>
                                    <li><p>Continuous integration and deployment processes</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-r">
                    <div class="card card-image">
                        <div class="text-center pricing-card d-flex align-items-center rgba-bg-color_blue py-3 px-3 rounded">
                            <div class="card-body">
                                <div class="h5">Data engineering and data science</div>
                                <div class="py-5"><span class="display-1">Big data</span></div>
                                <ul class="list-unstyled">
                                    <li><p>Architectures for data acquisition, processing, storage and utilization</p></li>
                                    <li><p>Data analysis</p></li>
                                    <li><p>Machine Learning and AI</p></li>
                                    <li><p>Data culture and implementation in the company</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-r">
                    <div class="card card-image">
                        <div class="text-center pricing-card d-flex align-items-center rgba-bg-color_blue py-3 px-3 rounded">
                            <div class="card-body">
                                <div class="h5">Internet of Things</div>
                                <div class="py-5"><span class="display-1">IoT</span></div>
                                <ul class="list-unstyled">
                                    <li><p>Control and data acquisition devices</p></li>
                                    <li><p>Cloud architecture deployment</p></li>
                                    <li><p>Data analysis, Machine Learning and AI</p></li>
                                    <li><p>Support for remote distributed deployments</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Squared images -->
    <section class="py-5" id="comunidades">
        <div class="container">
            <div class="wow fadeIn">
                <h2 class="h1 pt-5 pb-3 text-center">Communities</h2>
                <p class="px-5 mb-5 pb-3 lead text-center blue-grey-text">We would never have gotten here without the community, so we actively collaborate by organizing talks
                     and workshops to share knowledge and experience and help create professional relationships.<br>We highlight our organization or co-organization of:</p>
            </div>
            <div class="row mb-lg-4 center-on-small-only">
                <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s">
                    <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="static/img/gdg-almeria.png" alt="GDG Almería"/></div>
                    <div class="col-md-6 float-right">
                        <div class="h4">GDG Almería</div>
                        <h6 class="font-bold blue-grey-text mb-4">Google Developer Group</h6>
                        <p class="grey-text">Group of users and those interested in Google services and technologies: SW development, web, Android, apps, cloud computing,
                             big data, AI, IoT, etc.</p>
                        <a href="https://www.meetup.com/es-ES/GDGAlmeria/" target="_blank"><i class="fa fa-meetup"></i><span class="ml-1">GDG Almeria</span></a><br>
                        <a href="https://facebook.com/GDGAlmeria" target="_blank"><i class="fa fa-facebook"></i><span class="ml-1">GDG Almería</span></a><br>
                        <a href="https://twitter.com/GDGAlmeria" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@GDGAlmeria</span></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s">
                    <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="static/img/databeers-almeria.png" alt="DataBeers Almería"/></div>
                    <div class="col-md-6 float-right">
                        <div class="h4">DataBeers ALM</div>
                        <h6 class="font-bold blue-grey-text mb-4">DataBeers Almería</h6>
                        <p class="grey-text">Are you interested in the world of data? Do you want to learn how professionals from multiple profiles apply it in their work?
                             Come and discover the data culture with a beer and an informal and close atmosphere.</p>
                        <a href="https://www.meetup.com/es-ES/DataBeers-Almeria/" target="_blank"><i class="fa fa-meetup"></i><span class="ml-1">DataBeers Almeria</span></a><br>
                        <a href="https://www.facebook.com/databeersalm/" target="_blank"><i class="fa fa-facebook"></i><span class="ml-1">DataBeers Almería</span></a><br>
                        <a href="https://twitter.com/databeersalm" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@DataBeersAlm</span></a>
                    </div>
                </div>
            </div>
            <div class="row center-on-small-only">
                <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s">
                    <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="static/img/gdg-cloud-espanol.png" alt="GCDC Español"/></div>
                    <div class="col-md-6 float-right">
                        <div class="h4">Google Cloud Developer Community Español</div>
                        <h6 class="font-bold blue-grey-text mb-4">Hispano-American GCP Users</h6>
                        <p class="grey-text">Community of information about Google Cloud Platform in Spanish, composed of users, professionals and organizers of
                             Spanish-speaking GDGs.</p>
                        <a href="https://www.meetup.com/es-ES/Cloud-Espanol/" target="_blank"><i class="fa fa-meetup"></i><span class="ml-1">GDG Cloud Español</span></a><br>
                        <a href="https://www.xn--cloudespaol-9db.com/" target="_blank"><i class="fa fa-desktop"></i><span class="ml-1">GDG Cloud Español</span></a><br>
                        <a href="https://twitter.com/gdg_cloud" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@GDGCloudEspañol</span></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s">
                    <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="static/img/ideas-for-almeria.png" alt="Ieas for Almería"/></div>
                    <div class="col-md-6 float-right">
                        <div class="h4">Ideas for Almería</div>
                        <h6 class="font-bold blue-grey-text mb-4">Member of Ideas for the City</h6>
                        <p class="grey-text">Annual event where young people residing abroad return home bringing ideas, experiences and discoveries that we can implement to
                             help local development in any field.</p>
                        <a href="https://facebook.com/IdeasForAlmeria" target="_blank"><i class="fa fa-facebook"></i><span class="ml-1">Ideas for Almería</span></a><br>
                        <a href="https://twitter.com/IdeasForAlmeria" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@IdeasForAlmeria</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Squares -->
    <section class="row no-gutters" id="features">
        <div class="col-lg-3 col-md-6 col-sm-12 bg-blue21 text-white">
            <div class="p-5 text-center wow zoomIn" data-wow-delay=".1s"><i class="fa fa-pencil-square-o fa-2x"></i>
                <div class="h5 mt-3">Innovation and creativity</div>
                <p class="mt-5">Our specialty is to propose new applications of technology and solve problems creatively.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 bg-orange1 text-white">
            <div class="p-5 text-center wow zoomIn" data-wow-delay=".3s"><i class="fa fa-industry fa-2x"></i>
                <div class="h5 mt-3">Integral application development</div>
                <p class="mt-5">We undertake all types of projects in an integral way thanks to our multidisciplinarity and specialized collaborators.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 bg-blue32 text-white">
            <div class="p-5 text-center wow zoomIn" data-wow-delay=".5s"><i class="fa fa-line-chart fa-2x"></i>
                <div class="h5 mt-3">Business-oriented</div>
                <p class="mt-5">Our experience managing projects on our own initiative helps us to identify better with our clients and understand their needs.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 bg-orange2 text-white">
            <div class="p-5 text-center wow zoomIn" data-wow-delay=".7s"><i class="fa fa-user-circle fa-2x"></i>
                <div class="h5 mt-3">Team training</div>
                <p class="mt-5">We transfer the experience by organizing talks and workshops for communities and specialized courses to train your team effectively.</p>
            </div>
        </div>
    </section>
    <!-- Projects -->
    <section class="py-5" id="clientes">
        <div class="container">
            <div class="wow fadeIn">
                <h2 class="text-center h1 my-4">Latest clients</h2>
                <p class="px-5 mb-5 pb-3 lead blue-grey-text text-center">Some of the projects we have developed:</p>
            </div>
            <div class="row pt-5 wow fadeInRight" data-wow-delay=".3s">
                <div class="col-lg-6 col-xl-5 mb-3"><img class="img-fluid rounded z-depth-2" src="static/img/scooltic-logo.png" alt="Kairos"/></div>
                <div class="col-lg-6 col-xl-7 mb-3">
                    <div class="row mb-3">
                        <div class="col-1 mr-1"><i class="fa fa-cloud fa-2x" style="color:#1a81c4;"></i></div>
                        <div class="col-10">
                            <h5 class="font-bold">Web development</h5>
                            <p class="grey-text">Development and maintenance. Performance monitoring.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-1 mr-1"><i class="fa fa-dashboard fa-2x" style="color:#b3b1b2;"></i></div>
                        <div class="col-10">
                            <h5 class="font-bold">Cloud deployment and optimization</h5>
                            <p class="grey-text">Development and configuration of infrastructure in GCP. Monitoring, logging and alerts. Serverless deployment</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-1 mr-1"><i class="fa fa-database fa-2x" style="color:#fcdb2d;"></i></div>
                        <div class="col-10">
                            <h5 class="font-bold">Initial migration</h5>
                            <p class="grey-text">Modernization of the original solution. Design adaptation. Database migration.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>

            <div class="row pt-5 wow fadeInRight" data-wow-delay=".3s">
                <div class="col-lg-6 col-xl-5 mb-3"><img class="img-fluid rounded z-depth-2" src="static/img/2shapes-logo.png" alt="2Shapes"/></div>
                <div class="col-lg-6 col-xl-7 mb-3">
                    <div class="row mb-3">
                        <div class="col-1 mr-1"><i class="fa fa-dashboard fa-2x" style="color:#1a81c4;"></i></div>
                        <div class="col-10">
                            <h5 class="font-bold">Google Cloud Platform Consulting</h5>
                            <p class="grey-text">Planning and selection of services. Financial and resource planning. Proof of concept and load tests.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-1 mr-1"><i class="fa fa-microchip fa-2x" style="color:#74c159;"></i></div>
                        <div class="col-10">
                            <h5 class="font-bold">Infrastructure management</h5>
                            <p class="grey-text">Development and configuration of infrastructure in GCP. Monitoring, logging and alerts. Migration to Kubernetes-based
                                 architecture.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-1 mr-1"><i class="fa fa-cloud fa-2x" style="color:#fcdb2d;"></i></div>
                        <div class="col-10">
                            <h5 class="font-bold">Process development</h5>
                            <p class="grey-text">Development and production environments. Testing and QA. Automated continuous integration and deployment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row pt-5 wow fadeInRight" data-wow-delay=".3s">
                <div class="col-lg-6 col-xl-5 mb-3"><img class="img-fluid rounded z-depth-2" src="static/img/cleverppc-logo.jpg" alt="Clever PPC"/></div>
                <div class="col-lg-6 col-xl-7 mb-3">
                    <div class="row mb-3">
                        <div class="col-1 mr-1"><i class="fa fa-cloud fa-2x" style="color:#b3b1b2;"></i></div>
                        <div class="col-10">
                            <h5 class="font-bold">Cloud architecture</h5>
                            <p class="grey-text">Architecture planning, analysis and selection of services and their integration.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-1 mr-1"><i class="fa fa-database fa-2x" style="color:#3259a6;"></i></div>
                        <div class="col-10">
                            <h5 class="font-bold">Database migration</h5>
                            <p class="grey-text">Support in the design of database structure, data upload and recovery processes.</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-1 mr-1"><i class="fa fa-bar-chart fa-2x" style="color:#b3b1b2;"></i></div>
                        <div class="col-10">
                            <h5 class="font-bold">Data analysis and AI</h5>
                            <p class="grey-text">Support for the design of data recovery and utilization processes and machine learning.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row pt-5 wow fadeInRight" data-wow-delay=".3s">
                <div class="col-lg-6 col-xl-5 mb-3"><img class="img-fluid rounded z-depth-2" src="static/img/thinktic-logo.jpg" alt="ThinkTIC"/></div>
                <div class="col-lg-6 col-xl-7 mb-3">
                    <div class="row mb-3">
                        <div class="col-1 mr-1"><i class="fa fa-cloud fa-2x" style="color:#fcdb2d;"></i></div>
                        <div class="col-10">
                            <h5 class="font-bold">Cloud computing courses</h5>
                            <p class="grey-text">"Google App Engine"</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-1 mr-1"><i class="fa fa-dashboard fa-2x" style="color:#1a81c4;"></i></div>
                        <div class="col-10">
                            <h5 class="font-bold">Big data courses</h5>
                            <p class="grey-text">"Introduction to Machine Learning".</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-1 mr-1"><i class="fa fa-microchip fa-2x" style="color:#74c159;"></i></div>
                        <div class="col-10">
                            <h5 class="font-bold">IoT courses</h5>
                            <p class="grey-text">"Introduction to the development of IoT systems based on Raspberry Pi", "Build a complete PC for €50" (summer campus for teenagers).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact -->
    <section id="contacto">
        <div class="rgba-black-strong py-5">
            <div class="container">
                <div class="wow fadeIn">
                    <h2 class="h1 text-white pt-5 pb-3 text-center">Contact</h2>
                    <p class="text-white px-5 mb-5 pb-3 lead text-center">You can contact us via:</p>
                </div>
                <div class="card mb-5 wow fadeInUp" data-wow-delay=".4s">
                    <div class="card-body p-5">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <i class="fa fa-phone blue-text fa-2x"></i><p class="mt-2">(+34) 685 84 92 64</p>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-envelope blue-text fa-2x"></i><p class="mt-2"><a href="mailto:info@indavelopers.com" target="_blank">info@indavelopers.com</a></p>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-map-marker blue-text fa-2x"></i><p class="mt-2">Almería, Spain</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Footer -->
<footer class="page-footer bg-blue22 center-on-small-only pt-0 mt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-5 flex-center">
                    <a class="px-3" href="https://www.facebook.com/Indavelopers" target="_blank"><i class="fa fa-facebook fa-lg white-text"></i></a>
                    <a class="px-3" href="https://www.twitter.com/Indavelopers" target="_blank"><i class="fa fa-twitter fa-lg white-text"></i></i></a>
                    <a class="px-3" href="https://www.linkedin.com/in/marcosmanuelortega/" target="_blank"><i class="fa fa-linkedin fa-lg white-text"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            <p>&copy; <a href="/">Indavelopers</a> - Consulting, development and training - <a href="/legal-notice">Legal notice</a></p>
        </div>
    </div>
</footer>
{% endblock %}