{% extends "admin-base.html" %}

{% block head %}
<title>Eliminar noticia | Panel de administración</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation">
		<h2>Eliminar noticia</h2>
	</li>
	<li>
		<h3>{{type}}</h3>

		{% if error %}
			<p>Error: {{error}}</p>
		{% else %}
			<h3>{{title}}</h3>

			<p>{{description}}</p>

			<form method="post">
				<input class="content-link" type="submit" value="Confirmar">
			</form>
		{% endif %}
	</li>
</ul>
{% endblock %}