{% extends "admin-base.html" %}

{% block head %}
<title>Noticias | Panel de administración</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation">
		<h2>Noticias</h2>
	</li>
	<li>
		<h3>Blog</h3>

		<ul>
			{% for p in posts %}
				<li>
					<h3>{{p.title}}</h3>

					<p>{{p.description}}</p>

					<a class="content-link" href="/admin/noticias/blog/{{p.key.id()}}">Editar</a>
					<a class="content-link" href="/admin/noticias/blog/{{p.key.id()}}/eliminar">Eliminar</a>
				</li>
			{% else %}
				<li>
					<p class="centered">No hay aún posts publicados.</p>
				</li>
			{% endfor %}
		</ul>

		<a class="content-link-alt" href="/admin/noticias/blog/nuevo">Nuevo</a>
	</li>

	<li>
		<h3>Eventos</h3>

		<ul>
			{% for n in events %}
				<li>
					<h3>{{n.title}}</h3>

					<p>{{n.description}}</p>

					<a class="content-link" href="/admin/noticias/eventos/{{n.key.id()}}">Editar</a>
					<a class="content-link" href="/admin/noticias/eventos/{{n.key.id()}}/eliminar">Eliminar</a>
				</li>
			{% else %}
				<li>
					<p class="centered">No hay aún eventos publicados.</p>
				</li>
			{% endfor %}
		</ul>

		<a class="content-link-alt" href="/admin/noticias/eventos/nuevo">Nuevo</a>
	</li>
</ul>
{% endblock %}