<!DOCTYPE html>
<html lang="es">
<head>
	<link type="text/css" rel="stylesheet" href="/static/css/main.css">
	<meta charset="UTF-8">
	<meta name="author" content="Indavelopers">
	<meta name="google-site-verification" content="vfaWDZQYrNK7G3GJBGlc_4o0xS0bJNEEw3h_8M5Xrks">
	
	{% block head %}
	{% endblock %}
	
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>

<body>
	<div class="adminHeader">
		<a href="/admin/inicio">Inicio</a>
		<a href="/admin/proyectos">Proyectos</a>
		<a href="/admin/noticias">Noticias</a>
		<a href="/">Salir</a>
	</div>

	<h1>Panel de administración</h1>

	{% block content %}
	{% endblock %}
</body>
</html>