{% extends "admin-base.html" %}

{% block head %}
<title>Eliminar proyecto | Panel de administración</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation">
		<h2>Eliminar proyecto</h2>
	</li>
	<li>
		<h3>{{type}}</h3>

		{% if error %}
			<p>Error: {{error}}</p>
		{% else %}
			<h4>{{title}}</h4>

			<div class="description_cropped">{{description}}</div>

			<form method="post">
				<input class="content-link" type="submit" value="Confirmar">
			</form>
		{% endif %}

		<a class="content-link" href="/admin/proyectos">Cancelar</a>
	</li>
</ul>
{% endblock %}