{% extends "admin-base.html" %}

{% block head %}
<title>Editar noticia | Panel de administración</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation">
		<h2>Editar noticia</h2>
	</li>
	<li>
		<h3>{{type}}</h3>

		{% if error %}
			<p><strong>Error:</strong> {{error}}</p>
		{% endif %}

		<form method="post">
			<label for="title">Título:</label>
			<input type="text" id="title" name="title" value="{{title}}">

			{% if title %}
				<label>Fecha: {{date}}</label>
			{% endif %}

			<label for="description">Descripción:</label>
			<textarea id="description" name="description">{{description}}</textarea>

			<input class="content-link" type="submit" value="Editar">
		</form>

		<a class="content-link" href="/admin/noticias">Cancelar</a>
	</li>
</ul>
{% endblock %}