{% extends "admin-base.html" %}

{% block head %}
<title>Eliminar proyecto | Panel de administración</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation">
		<h2>Eliminar proyecto</h2>
	</li>
	<li>
		<h3>{{type | safe}}</h3>

		{% if error %}
			<p>Error: {{error | safe}}</p>
		{% endif %}

		<h3>{{title}}</h3>

		<p>{{description}}</p>

		<form method="post">
			<input class="content-link" type="submit" value="Confirmar">
		</form>
	</li>
</ul>
{% endblock %}