<!DOCTYPE html>
<html class="full-height" lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="vfaWDZQYrNK7G3GJBGlc_4o0xS0bJNEEw3h_8M5Xrks">

    <title>Indavelopers</title>
    <meta name="description" content="Indavelopers - Consultoría, desarrollo y formación en cloud computing, big data e IoT"/>
    <meta name="keywords" content="cloud, big data, aprendizaje automático, IoT, consultoría, desarrollo, almería">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/mdb.min.css" rel="stylesheet">
    <link href="static/styles/main.css" rel="stylesheet">
</head>
<body id="top">
    <header>
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="navbar">
            <div class="container"><a class="navbar-brand" href="#"><strong>Indavelopers</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link active" href="#servicios">Servicios</a></li>
                        <li class="nav-item"><a class="nav-link" href="#areas">Áreas de trabajo</a></li>
                        <li class="nav-item"><a class="nav-link" href="#comunidades">Comunidades</a></li>
                        <li class="nav-item"><a class="nav-link" href="#clientes">Clientes</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Intro Section-->
        <section class="view hm-gradient" id="intro">
            <div class="full-bg-img d-flex align-items-center">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-10 col-lg-6 text-center text-md-left margins">
                            <div class="white-text">
                                <div class="wow fadeInLeft" data-wow-delay="0.3s">
                                    <h1 class="h1-responsive font-bold mt-sm-5">Las nuevas tecnologías a su
                                        servicio</h1>
                                    <div class="h6">Trasladamos las últimas innovaciones y tecnologías a proyectos
                                        reales que aporten valor a su empresa.</div>
                                    <div class="h6">Analizamos su proyecto y le propondremos soluciones efectivas y
                                        eficaces para potenciarlo.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <div id="content">
        <!-- 3 columns text -->
        <section class="text-center py-5 grey lighten-4" id="servicios">
            <div class="container">
                <div class="wow fadeIn">
                      <h2 class="h1 pt-5 pb-3">Servicios</h2>
                      <p class="px-5 mb-5 pb-3 lead blue-grey-text">Contamos con experiencia gesionando proyectos
                          junto a nuestros clientes de forma externa o integrada y de iniciativa propia.</p>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".3s"><i class="fa fa-comments-o fa-3x blue2-text"></i>
                        <h3 class="h4 mt-3">Consultoría</h3>
                        <p class="mt-3 blue-grey-text">Nuestra experiencia a su servicio, acompañándole en todo momento para conseguir un avance más rápido.</p>
                    </div>
                    <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-cubes fa-3x orange1-text"></i>
                        <h3 class="h4 mt-3">Desarrollo</h3>
                        <p class="mt-3 blue-grey-text">Dirección de proyectos, análisis y planteamiento de soluciones,
                            desarrollo integral con metodologías ágiles.<br>Red de profesionales especializados.</p>
                    </div>
                    <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-group fa-3x orange2-text"></i>
                        <h3 class="h4 mt-3">Formación</h3>
                        <p class="mt-3 blue-grey-text">Formación interna y desarrollo de equipos.<br>Desarrollo e impartición de cursos especializados.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- 3 columns colored -->
        <section class="text-center py-5 bg-blue22 text-white" id="areas">
            <div class="container">
                <div class="wow fadeIn">
                    <h2 class="h1 pt-5 pb-3">Principales áreas de trabajo</h2>
                    <p class="px-5 mb-5 pb-3 lead">Proyectos multidisciplinares.<br>Especialistas en Google Cloud
                        Platform.</p>
                </div>
                <div class="row wow zoomIn blue22-text">
                    <div class="col-lg-4 col-md-12 mb-r">
                        <div class="card card-image">
                            <div class="text-center pricing-card d-flex align-items-center rgba-bg-color_blue py-3 px-3 rounded">
                                <div class="card-body">
                                    <div class="h5">Infraestructura en la nube</div>
                                    <div class="py-5"><span class="display-1">Cloud</span></div>
                                    <ul class="list-unstyled">
                                        <li><p>Arquitecturas online e híbridas</p></li>
                                        <li><p>Infraestructura de alta disponibilidad y escalabilidad</p></li>
                                        <li><p>Despliegues distribuidos</p></li>
                                        <li><p>Procesos de integración y despliegue contínuos</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-r">
                        <div class="card card-image">
                            <div class="text-center pricing-card d-flex align-items-center rgba-bg-color_blue py-3 px-3 rounded">
                                <div class="card-body">
                                    <div class="h5">Ingeniería de datos y data science</div>
                                    <div class="py-5"><span class="display-1">Big data</span></div>
                                    <ul class="list-unstyled">
                                        <li><p>Arquitecturas de adquisición, procesamiento, almacenamiento y aprovechamiento de datos</p></li>
                                        <li><p>Análisis de datos</p></li>
                                        <li><p>Machine Learning e IA</p></li>
                                        <li><p>Cultura de datos e implementación en la empresa</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-r">
                        <div class="card card-image">
                            <div class="text-center pricing-card d-flex align-items-center rgba-bg-color_blue py-3 px-3 rounded">
                                <div class="card-body">
                                    <div class="h5">Internet de las cosas</div>
                                    <div class="py-5"><span class="display-1">IoT</span></div>
                                    <ul class="list-unstyled">
                                        <li><p>Dispositivos de control y adquisición de datos</p></li>
                                        <li><p>Despliegue de arquitectura en la nube</p></li>
                                        <li><p>Análisis de datos, Machine Learning e IA</p></li>
                                        <li><p>Soporte de despliegues distribuidos en remoto</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Squared images -->
        <section class="py-5" id="comunidades">
            <div class="container">
                <div class="wow fadeIn">
                    <h2 class="h1 pt-5 pb-3 text-center">Comunidades</h2>
                    <p class="px-5 mb-5 pb-3 lead text-center blue-grey-text">Nunca hubiéramos llegado hasta aquí sin la comunidad, por lo que colaboramos activamente organizando charlas y talleres divulgativos para compartir conocimientos y experiencia y ayudar a crear relaciones profesionales.<br>Destacamos nuestra organización o coorganización de:</p>
                </div>
                <div class="row mb-lg-4 center-on-small-only">
                    <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s">
                        <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="static/img/gdg-almeria.png" alt="GDG Almería"/></div>
                        <div class="col-md-6 float-right">
                            <div class="h4">GDG Almería</div>
                            <h6 class="font-bold blue-grey-text mb-4">Grupo de Desarrolladores de Google</h6>
                            <p class="grey-text">Grupo de usuarios e interesados en los servicios y tecnologías de Google: desarrollo de SW, web, Android, apps, cloud computing, big data, IA, IoT, etc.</p>
                            <a href="https://www.meetup.com/es-ES/GDGAlmeria/" target="_blank"><i class="fa fa-meetup"></i><span class="ml-1">GDG Almeria</span></a><br>
                            <a href="https://facebook.com/GDGAlmeria" target="_blank"><i class="fa fa-facebook"></i><span class="ml-1">GDG Almería</span></a><br>
                            <a href="https://twitter.com/GDGAlmeria" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@GDGAlmeria</span></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s">
                        <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="static/img/databeers-almeria.png" alt="DataBeers Almería"/></div>
                        <div class="col-md-6 float-right">
                            <div class="h4">DataBeers ALM</div>
                            <h6 class="font-bold blue-grey-text mb-4">DataBeers Almería</h6>
                            <p class="grey-text">¿Te interesa el mundo de los datos? ¿Quieres aprender cómo profesionales de múltiples perfiles los aplican en su trabajo? Ven y descubre la cultura de datos con una cerveza y un clima informal y cercano.</p>
                            <a href="https://www.meetup.com/es-ES/DataBeers-Almeria/" target="_blank"><i class="fa fa-meetup"></i><span class="ml-1">DataBeers Almeria</span></a><br>
                            <a href="https://www.facebook.com/databeersalm/" target="_blank"><i class="fa fa-facebook"></i><span class="ml-1">DataBeers Almería</span></a><br>
                            <a href="https://twitter.com/databeersalm" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@DataBeersAlm</span></a>
                        </div>
                    </div>
                </div>
                <div class="row center-on-small-only">
                    <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s">
                        <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="static/img/gdg-cloud-espanol.png" alt="GCDC Español"/></div>
                        <div class="col-md-6 float-right">
                            <div class="h4">Google Cloud Developer Community Español</div>
                            <h6 class="font-bold blue-grey-text mb-4">Usuarios de GCP hispanoamericanos</h6>
                            <p class="grey-text">Comunidad de información sobre Google Cloud Platform en español, compuesta por usuarios, profesionales y organizadores de GDGs castellano-parlantes.</p>
                            <a href="https://www.meetup.com/es-ES/Cloud-Espanol/" target="_blank"><i class="fa fa-meetup"></i><span class="ml-1">GDG Cloud Español</span></a><br>
                            <a href="https://www.xn--cloudespaol-9db.com/" target="_blank"><i class="fa fa-desktop"></i><span class="ml-1">GDG Cloud Español</span></a><br>
                            <a href="https://twitter.com/gdg_cloud" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@GDGCloudEspañol</span></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s">
                        <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="static/img/ideas-for-almeria.png" alt="Ieas for Almería"/></div>
                        <div class="col-md-6 float-right">
                            <div class="h4">Ideas for Almería</div>
                            <h6 class="font-bold blue-grey-text mb-4">Miembro de Ideas for the City</h6>
                            <p class="grey-text">Evento anual donde jóvenes residentes en el extranjero vuelven a casa trayendo ideas, experiencias y descubrimientos que podemos implementar para ayudar al desarrollo local en cualquier ámbito.</p>
                            <a href="https://facebook.com/IdeasForAlmeria" target="_blank"><i class="fa fa-facebook"></i><span class="ml-1">Ideas for Almería</span></a><br>
                            <a href="https://twitter.com/IdeasForAlmeria" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@IdeasForAlmeria</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Squares -->
        <section class="row no-gutters" id="features">
            <div class="col-lg-3 col-md-6 col-sm-12 bg-blue21 text-white">
                <div class="p-5 text-center wow zoomIn" data-wow-delay=".1s"><i class="fa fa-pencil-square-o fa-2x"></i>
                    <div class="h5 mt-3">Innovación y creatividad</div>
                    <p class="mt-5">Nuestra especialidad es plantear nuevas aplicaciones de la tecnología y resolver problemas de forma creativa.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 bg-orange1 text-white">
                <div class="p-5 text-center wow zoomIn" data-wow-delay=".3s"><i class="fa fa-industry fa-2x"></i>
                    <div class="h5 mt-3">Desarrollo integral</div>
                    <p class="mt-5">Acometemos todo tipo de proyectos de una forma integral gracias a nuestra multidisciplinaridad y colaboradores especializdos.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 bg-blue32 text-white">
                <div class="p-5 text-center wow zoomIn" data-wow-delay=".5s"><i class="fa fa-line-chart fa-2x"></i>
                    <div class="h5 mt-3">Enfocados a negocio</div>
                    <p class="mt-5">Nuestra experiencia gestionando proyectos de iniciativa propia nos ayuda a identificarnos mejor con nuestros clientes y comprender sus necesidades.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 bg-orange2 text-white">
                <div class="p-5 text-center wow zoomIn" data-wow-delay=".7s"><i class="fa fa-user-circle fa-2x"></i>
                    <div class="h5 mt-3">Formación de equipos</div>
                    <p class="mt-5">Trasladamos la experiencia organizando charlas y talleres de comunidades y cursos especializados para formar a su equipo de una forma efectiva.</p>
                </div>
            </div>
        </section>
        <!-- Projects -->
        <section class="py-5" id="clientes">
            <div class="container">
                <div class="wow fadeIn">
                    <h2 class="text-center h1 my-4">Últimos clientes</h2>
                    <p class="px-5 mb-5 pb-3 lead blue-grey-text text-center">Algunos de los proyectos que hemos desarrollado:</p>
                </div>
                <div class="row pt-5 wow fadeInRight" data-wow-delay=".3s">
                    <div class="col-lg-6 col-xl-5 mb-3"><img class="img-fluid rounded z-depth-2" src="static/img/2shapes-logo.png" alt="2Shapes"/></div>
                    <div class="col-lg-6 col-xl-7 mb-3">
                        <div class="row mb-3">
                            <div class="col-1 mr-1"><i class="fa fa-dashboard fa-2x" style="color:#1a81c4;"></i></div>
                            <div class="col-10">
                                <h5 class="font-bold">Consultoría sobre Google Cloud Platform</h5>
                                <p class="grey-text">Planteamiento y selección de servicios. Planificación financiera y de recursos. Pruebas piloto y de carga.</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-1 mr-1"><i class="fa fa-microchip fa-2x" style="color:#74c159;"></i></div>
                            <div class="col-10">
                                <h5 class="font-bold">Gestión de infraestructura</h5>
                                <p class="grey-text">Desarrollo y configuración de infraestructura en GCP. Monitorización, logging y alertas. Migración a arquitectura basada en Kubernetes.</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-1 mr-1"><i class="fa fa-cloud fa-2x" style="color:#fcdb2d;"></i></div>
                            <div class="col-10">
                                <h5 class="font-bold">Desarrollo de procesos</h5>
                                <p class="grey-text">Entornos de desarrollo y producción. Testing y QA. Integración y despliegue contínuo automatizado.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row pt-5 wow fadeInRight" data-wow-delay=".3s">
                    <div class="col-lg-6 col-xl-5 mb-3"><img class="img-fluid rounded z-depth-2" src="static/img/cleverppc-logo.jpg" alt="Clever PPC"/></div>
                    <div class="col-lg-6 col-xl-7 mb-3">
                        <div class="row mb-3">
                            <div class="col-1 mr-1"><i class="fa fa-cloud fa-2x" style="oolor:#b3b1b2;"></i></div>
                            <div class="col-10">
                                <h5 class="font-bold">Arquitectura en la nube</h5>
                                <p class="grey-text">Planteamiento de arquitetura, análisis y elección de servicios y su integración.</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-1 mr-1"><i class="fa fa-database fa-2x" style="color:#3259a6;"></i></div>
                            <div class="col-10">
                                <h5 class="font-bold">Migración de BDD</h5>
                                <p class="grey-text">Acompañamiento en el diseño de estructura de BDD, procesos de subida y recuperación de datos.</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-1 mr-1"><i class="fa fa-bar-chart fa-2x" style="oolor:#b3b1b2;"></i></div>
                            <div class="col-10">
                                <h5 class="font-bold">Análisis de datos e IA</h5>
                                <p class="grey-text">Apoyo al diseño de procesos de recuperación y aprovechamiento de datos y aprendizaje automático.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row pt-5 wow fadeInRight" data-wow-delay=".3s">
                    <div class="col-lg-6 col-xl-5 mb-3"><img class="img-fluid rounded z-depth-2" src="static/img/thinktic-logo.jpg" alt="ThinkTIC"/></div>
                    <div class="col-lg-6 col-xl-7 mb-3">
                        <div class="row mb-3">
                            <div class="col-1 mr-1"><i class="fa fa-dashboard fa-2x" style="color:#1a81c4;"></i></div>
                            <div class="col-10">
                                <h5 class="font-bold">Cursos sobre big data</h5>
                                <p class="grey-text">"Introducción al Machine Learning".</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-1 mr-1"><i class="fa fa-microchip fa-2x" style="color:#74c159;"></i></div>
                            <div class="col-10">
                                <h5 class="font-bold">Cursos sobre IoT</h5>
                                <p class="grey-text">"Introducción al desarrolo de sistemas de IoT basados en Raspberry Pi", "Construye un PC completo por 50 €" (campus de verano para adolescentes).</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-1 mr-1"><i class="fa fa-cloud fa-2x" style="color:#fcdb2d;"></i></div>
                            <div class="col-10">
                                <h5 class="font-bold">Cursos sobre cloud computing</h5>
                                <p class="grey-text">"Google App Engine"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact -->
        <section id="contacto">
            <div class="rgba-black-strong py-5">
                <div class="container">
                    <div class="wow fadeIn">
                        <h2 class="h1 text-white pt-5 pb-3 text-center">Contacto</h2>
                        <p class="text-white px-5 mb-5 pb-3 lead text-center">Puede contactarnos a través de:</p>
                    </div>
                    <div class="card mb-5 wow fadeInUp" data-wow-delay=".4s">
                        <div class="card-body p-5">
                            <div class="row text-center">
                                <div class="col-md-4">
                                    <i class="fa fa-phone blue-text fa-2x"></i><p class="mt-2">(+34) 685 84 92 64</p>
                                </div>
                                <div class="col-md-4">
                                    <i class="fa fa-envelope blue-text fa-2x"></i><p class="mt-2"><a href="mailto:info@indavelopers.com" target="_blank">info@indavelopers.com</a></p>
                                </div>
                                <div class="col-md-4">
                                    <i class="fa fa-map-marker blue-text fa-2x"></i><p class="mt-2">Almería, España</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer class="page-footer bg-blue22 center-on-small-only pt-0 mt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-5 flex-center">
                        <a class="px-3" href="https://www.facebook.com/Indavelopers" target="_blank"><i class="fa fa-facebook fa-lg white-text"></i></a>
                        <a class="px-3" href="https://www.twitter.com/Indavelopers" target="_blank"><i class="fa fa-twitter fa-lg white-text"></i></i></a>
                        <a class="px-3" href="https://www.linkedin.com/in/marcosmanuelortega/" target="_blank"><i class="fa fa-linkedin fa-lg white-text"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container-fluid">
                <p>&copy; <a href="/">Indavelopers</a> - Consultoría, desarrollo y formación - <a href="/aviso-legal">Aviso
                    legal</a></p>
            </div>
        </div>
    </footer>
    <!-- scripts -->
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="static/js/popper.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/mdb.min.js"></script>
    <script>new WOW().init();</script>
</body>
</html>