{% extends "base.html" %}

{% block head %}
<meta name="description" content="Blog | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Blog | Indavelopers</title>
{% endblock %}


{% block content %}
<h1>Blog</h1>

<ul class="content">
	{% for p in posts %}
		<li>
			<h2><a href="/noticias/blog/{{p.title_url}}">{{p.title}}</a></h2>

			<p>{{p.description}}</p>
		</li>
	{% endfor %}
</ul>
{% endblock %}