{% extends "base.html" %}

{% block head %}
<meta name="description" content="Blog | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Blog | Indavelopers</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation">
		<h1>Blog</h1>
	</li>
	{% for p in posts %}
		<li>
			<h2><a class="decorated_link_title" href="/noticias/blog/{{p.title_url}}">{{p.title}}</a></h2>

			<p>{{p.show_description()}}</p>
		</li>
	{% else %}
		<li>
			<p class="centered">No hemos publicado aún entradas en nuestro blog.</p>
		</li>
	{% endfor %}
</ul>
{% endblock %}