{% extends "base.html" %}

{% block head %}
<meta name="description" content="Contacto | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Contacto | Indavelopers</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation">
		<h1>Contacto</h1>
	</li>
	<li>
		<h2>Indavelopers</h2>

		<h3>Marcos Manuel Ortega</h3>

		<ul class="bullet_list">
            <li><a class="decorated_link" href="mailto:info@indavelopers.com">info@indavelopers.com</a></li>
            <li><strong>Tfno.:</strong> (+34) 685 84 92 64</li>
            <li><strong>Twitter:</strong> <a class="decorated_link" href="http://www.twitter.com/Indavelopers">@Indavelopers</a></li>
            <li><strong>Facebook:</strong> <a class="decorated_link" href="http://www.facebook.com/Indavelopers">fb.com/Indavelopers</a></li>
            <li><strong>Github:</strong> <a class="decorated_link" href="https://github.com/Indavelopers">Indavelopers</a></li>
		</ul>
	</li>
</ul>
{% endblock %}