{% extends "base.html" %}

{% block head %}
<meta name="description" content="Contacto | Indavelopers, soluciones de ingeniería de datos, big data y diseño y desarrollo web.">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Contacto | Indavelopers</title>
{% endblock %}


{% block content %}
<h1>Contacto</h1>

<ul class="content">
	<li>Indavelopers</li>
	<li><a href="">info@indavelopers.com</a></li>
	<li>Tfno.: 685 849 264</li>
	<li>Facebook: <a href="http://www.facebook.com/Indavelopers"></a>fb.com/Indavelopers</li>
	<li>Twitter: <a href="http://www.twitter.com/Indavelopers"></a>@Indavelopers</li>
</ul>
{% endblock %}