{% extends "base.html" %}

{% block head %}
<meta name="description" content="Error 404 | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">

<title>Página no encontrada | Indavelopers</title>
{% endblock %}


{% block content %}
<h1>Página no encontrada | Error 404</h1>

<ul class="content">
	<p>Página no encontrada. Puede buscarla en nuestro <a href="link">mapa web</a>.</p>

	<p>Por favor, le agradeceríamos que si ha encontrado un enlace erróneo, nos lo <a href="/contacto">comunicara</a>. Muchas gracias.</p>
</ul>
{% endblock %}