{% extends "base.html" %}

{% block head %}
<title>Página no encontrada | Indavelopers</title>
{% endblock %}


{% block content %}
<ul class="content-tarjetas">
	<li>
		<h1>Página no encontrada | Error 404</h1>
		
		<p class="content-tarjetas-p_centrado">Párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo. Párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo. Párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo.</p>
	</li>
</ul>
{% endblock %}