<!DOCTYPE html>
<html lang="es">
<head>
	<link type="text/css" rel="stylesheet" href="/static/css/main.css">
	<meta charset="UTF-8">
	<meta name="author" content="Indavelopers">
	<meta name="google-site-verification" content="vfaWDZQYrNK7G3GJBGlc_4o0xS0bJNEEw3h_8M5Xrks">

    <title>Servicio no disponible | Indavelopers</title>

	<meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>

<body>
	<div class="message">¡Disponibles próximamente!</div>

	<div class="header">
		<a href="/">Inicio</a>
		<a href="/contacto">Contacto</a>
		<a href="/proyectos">Proyectos</a>
		<a href="/noticias">Noticias</a>
	</div>

    <ul>
        <h1>Portal no disponible | Error en el servicio</h1>

        <p>Nuestro servicio no se encuentra disponible por un fallo interno. Por afvor, visítenos de nuevo en unos minutos.</p>
    </ul>

	<div class="footer">
		<a href="/">RRSS</a>
		<a href="/aviso-legal">Aviso legal</a>
		<a href="/mapa-web">Mapa web</a>
	</div>
</body>
</html>