<!DOCTYPE html>
<html lang="es">
<head>
	<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
	<meta charset="UTF-8">
	<meta name="author" content="Indavelopers">
	<meta name="google-site-verification" content="vfaWDZQYrNK7G3GJBGlc_4o0xS0bJNEEw3h_8M5Xrks" />
	
	<title>Error en el servicio | Indavelopers</title>
	
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>

<body>
	<div class="header">
		<a href="/"><img src="/static/logo_indavelopers.jpg" alt="Indavelopers logo" width="650" height="200"></a>
	</div>
	
	<ul class="nav_bar">
		<li><a href="/ingenieria-de-datos">Ingeniería de datos</a></li>
		<li><a href="/proyectos-web">Proyectos web</a></li>
		<li><a href="/portfolio">Portfolio</a></li>
		<li><a href="/nuestros-proyectos">Nuestros proyectos</a></li>
		<li><a href="/contacto">Contacto</a></li>
	</ul>
	
	<ul class="content-tarjetas">
		<li>
			<h1>Titulo 1</h1>
			
			<p class="content-tarjetas-p_centrado">Párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo. Párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo. Párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo párrafo.</p>
			
			<p class="content-tarjetas-p_centrado"><a href="/mapa-web">Mapa web</a></p>
		</li>
	</ul>
	
	<div class="footer">
		<ul class="footer-contacto">
			<li><a href="mailto:info@indavelopers.com" target="_blank">info@indavelopers.com</a></li>
			<li><img src="/" alt="Teléfono" width="" height=""></li>
		</ul>
		
		<img class="footer-logo" src="/" alt="" width="" height="">
	
		<ul class="footer-links">
			<li><a href="/mapa-web">Mapa web</a></li>
			<li><a href="/aviso-legal">Aviso legal</a></li>
		</ul>
		
		<p class="footer-firma">
			&copy; <a class="link-decorated" href="/">Indavelopers</a>. Ing. de datos y desarrollo web.
		</p>
		
		<ul class="footer-iconos">
			<li><a href="/"><img src="/" alt="" width="" height=""></a></li>
			<li><a href="/"><img src="/" alt="" width="" height=""></a></li>
		</ul>
	</div>
</body>
</html>