{% extends "base.html" %}

{% block head %}
<meta name="description" content="Eventos | Indavelopers, soluciones de ingeniería de datos, big data y diseño y desarrollo web.">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Eventos | Indavelopers</title>
{% endblock %}


{% block content %}
<h1><a href="/noticias/eventos">Eventos</a></h1>

<ul class="content">
	<li><a href="/noticias/eventos/evento1">evento1</a></li>
</ul>
{% endblock %}