{% extends "base.html" %}

{% block head %}
<meta name="description" content="Eventos | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Eventos | Indavelopers</title>
{% endblock %}


{% block content %}
<h1><a href="/noticias/eventos">Eventos</a></h1>

<ul class="content">
	<li>
		<h2><a href="/noticias/eventos/evento1">evento1</a></h2>

		<p>evento1 evento1 evento1 evento1 evento1 evento1 evento1 evento1 evento1.</p>
	</li>
	
	<li>
		<h2><a href="/noticias/eventos/evento1">evento1</a></h2>

		<p>evento1 evento1 evento1 evento1 evento1 evento1 evento1 evento1 evento1.</p>
	</li>	
</ul>
{% endblock %}