{% extends "base.html" %}

{% block head %}
<meta name="description" content="Eventos | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Eventos | Indavelopers</title>
{% endblock %}


{% block content %}
<h1>Eventos</h1>

<ul class="content">
	{% for e in events %}
		<li>
			<h2><a href="/noticias/blog/{{e.title_url}}">{{e.title}}</a></h2>

			<p>{{e.description}}</p>
		</li>
	{% endfor %}
</ul>
{% endblock %}