{% extends "base.html" %}

{% block head %}
<meta name="description" content="Eventos | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Eventos | Indavelopers</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation">
		<h1>Eventos</h1>
	</li>
	<li>
		<h2>{{event.title}}</h2>

		<p>{{event.show_description()}}</p>

		<a class="content-link" href="/eventos">Volver</a>
	</li>
</ul>
{% endblock %}