{% extends "base.html" %}

{% block head %}
<meta name="description" content="Eventos | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Eventos | Indavelopers</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation">
		<h1>Eventos</h1>
	</li>
	{% for e in events %}
		<li>
			<h2><a class="decorated_link_title" href="/noticias/blog/{{e.title_url}}">{{e.title}}</a></h2>

			<p>{{e.description}}</p>
		</li>
	{% else %}
		<li>
			<p class="centered">No hemos publicado aún eventos.</p>
		</li>
	{% endfor %}
</ul>
{% endblock %}