{% extends "base.html" %}

{% block head %}
<meta name="description" content="Indavelopers - Consultoría de Big Data. Soluciones de ingeniería de datos.">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Indavelopers | Ingeniería de datos y desarrollo web</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li>presentacion: frase, cita, valores</li>
	<li>presentacion big data: resumen, cifras/noticias, aplicaciones</li>
	<li>servicios</li>
	<li>metodologia</li>
	<li>cta: contacto</li>
	<li>proyectos: clientes, propios, personales</li>
	<li>noticias: twitter, blog, eventos</li>
</ul>
{% endblock %}