{% extends "base.html" %}

{% block head %}
<meta name="description" content="Indavelopers, soluciones de ingeniería de datos, big data y diseño y desarrollo web.">
<meta name="keywords" content="indavelopers, ingeniería de datos, desarrollo web, big data, páginas web, diseño web, almería">
	
<title>Indavelopers | Ingeniería de datos y desarrollo web</title>
{% endblock %}


{% block content %}
<p class="content-presentacion">Expertos en proyectos de ingeniería de datos y desarrollo web. Soluciones personalizadas, asesoramiento y estudio de cada caso particular y satisfacción garantizada.</p>

<p class="content-presentacion">Disponibles próximamente.</p>

<ul class="content-tarjetas">
	<li>
		<h2><a href="/ingenieria-de-datos">Ingeniería de datos</a></h2>
		
		<ul class="content-tarjetas-bloques_4-6">
			<li>
				<img class="content-tarjetas-img_480" src="/static/img/grafo.png" alt="Ingeniería de datos" width="480" height="360">
			</li>
			<li>
				<p>La ingeniería de datos (big data) ha supuesto un cambio radical en un sin fin de campos, desde la información comercial (business information) hasta la medicina, pasando por las ciencias sociales y naturales.</p>
				<p>Sus técnicas de predicción, aprendizaje contínuo y extracción de información aglomerada harán posible o le darán una ventaja notable a su proyecto o negocio, poniendo en valor toda su información y usándola para resolver sus principales retos.</p>
				<p>Proyectos de ingeniería de datos y big data de todo tipo, adecuados a sus necesidades e infraestructura, siendo asesorado en todo momento para encontrar todas las respuestas y soluciones que le proporcionen una ventaja a su negocio o proyecto, con soluciones estudiadas y creadas especialmente para sus particularidades.</p>
			</li>
		</ul>
	</li>
	
	<li>
		<h2><a href="/desarrollo-web">Desarrollo web</a></h2>
		
		<ul class="content-tarjetas-bloques_6-4">
			<li>
				<p>Internet ha revolucionado la forma de encontrar y gestionar información. En muchos casos, ha pasado de ser una oportunidad a una necesidad. Anúnciese y muestre las particularidades de su negocio, organización o proyecto que le hacen destacar de forma accesible a su público objetivo o lance su ambicioso proyecto a la inmediatez y ubicuidad de la web.</p>
				<p>Proyectos y portales web en general, sitios web de negocios y organizaciones locales de cualquier tamaño, aplicaciones web personalizadas  abiertas al público y de gestión interna, etc.</p></p>
			</li>		
			<li>
				<img class="content-tarjetas-img_480" src="/static/img/logo_html5.png" alt="Desarrollo web" width="480" height="360">
			</li>
		</ul>
	</li>	
	
	<li>
		<p class="content-tarjetas-p_centrado">Sea en el campo de la ingeniería de datos o del desarrollo web, estaremos dispuestos a usar nuestra experiencia y conocimientos para responder y resolver las necesidades de su negocio, organización o proyecto, con un trato vinculado y comprometido con los requerimientos y particularidades de cada caso.</p>
		
		<p class="content-tarjetas-p_centrado"><a class="link-decorated" href="/contacto">Contacte</a> con nosotros y le asesoraremos sin compromiso.</p>
	</li>
</ul>
{% endblock %}