{% extends "base.html" %}

{% block head %}
<meta name="description" content="Inicio | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Indavelopers | Ingeniería de datos y desarrollo web</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li class="content-presentation">
        <img src="/static/img/logotipo-1500x500.png" alt="Logotipo">

        <h4>Marcos Manuel Ortega. Ingeniero de datos</h4>

        <h1>Indavelopers. Consultoría de datos</h1>

        <h3>"El cálculo y el razonamiento, como el tejer y el arar, son trabajos, no para almas humanas, sino para ingeniosas combinaciones de hierro y madera".<span>Mary Boole</span></h3>

		<h2>Big Data. La revolución de los datos</h2>
    </li>
	<li>
        <h1>Descubra la ingeniería de datos</h1>

        <p>Big Data: <em>"Conjunto de técnicas y tecnologías dedicadas a la adquisición, procesamiento, almacenamiento y análisis de datos con el objetivo de obtener información útil y relevante a partir de ellos."</em></p>

        <h2>Aplicaciones</h2>
        <ul>
            <li>Inteligencia de negocio: optimización de procesos internos, procurement, logística, prospección de mercados...</li>
            <li>Personalización de contenidos: RRSS, publicidad online, recomendación de productos...</li>
            <li>Banca y finanzas: HFT, servicio de alertas, detección de fraude...</li>
            <li>Optimización de precio de venta: revenue management, tasador automatizado, gestión de subastas...</li>
        </ul>
	</li>
    <li>
        <h1>Nuestra propuesta</h1>

        <h2>Áreas de especialidad</h2>
        <ul>
            <li>Aprendizaje automático</li>
            <li>Automatización de procesos de toma de decisiones</li>
			<li>Integración en proyectos de SW</li>
            <li>Soluciones de cloud computing</li>
            <li>Desarrollo e integración de interfaces y SW personalizados</li>
            <li>Red de colaboradores especializados</li>
        </ul>

        <h2>Valores</h2>
        <ul>
            <li>Dinamismo y agilidad: metodologías de trabajo ágiles, adaptación a la aplicación en concreto</li>
            <li>Innovación: últimas técnicas y tecnologías, propuestas para los procesos del cliente</li>
            <li>Confiabilidad, confidencialidad, seguridad</li>
        </ul>

        <h2>Potenciar la comunidad</h2>
        <p>El éxito de cualquier iniciativa e individuo está condicionado por la comunidad donde se apoye. Por eso en Indavelopers apostamos fuertemente por potenciar la comunidad y su talento, buscando lazos de unión que nos lleven más lejos de lo que podríamos individualmente. En esta línea, colaboramos y participamos activamente en múltiples comunidades, organizando eventos de divulgación y experimentación relacionados con tecnología, desarrollo de software y Big Data.</p>

        <ul>
            <li><a href="">Hacklab Almería</a></li>
            <li><a href="">GDG Almería, Grupo de Desarrolladores de Google (organizador)</a></li>
            <li><a href="">Grupo de Python Almería (coordinador)</a></li>
            <li><a href="">Grupo de Usuarios de R Almería</a></li>
        </ul>

        <p>Además, publicamos proyectos y código libres y colaboramos con otros proyectos a través de nuestro <a href="">Github</a>.</p>
    </li>
    <li>
        <h1>Servicios</h1>

        <ul>
            <li>Consultoría de soluciones Big Data</li>
            <li>Análisis de datos</li>
            <li>Implementación de sistemas (arquitectura privada/híbrida/cloud computing)</li>
            <li>Soluciones SW completas específicas y personalizadas</li>
            <li>Implementación de procesos de adquisición de datos</li>
            <li>Sistemas automatizados de toma de decisiones</li>
            <li>Formación de usuario y profesional</li>
        </ul>
    </li>
    <li>
        <h1>Nuestra operativa</h1>

        <ul>
            <li>Asesoría de oportunidades de aplicación de Big Data</li>
            <li>Implementación de arquitectura</li>
            <li>Análisis de datos</li>
            <li>Formación de usuarios</li>
            <li>Mantenimiento de sistemas</li>
            <li>Innovación contínua en procesos del cliente</li>
        </ul>
    </li>
    <li>
        <h1><a href="/proyectos">Proyectos</a></h1>

        <a href="/proyectos#casos-de-exito">Casos de éxito</a>
        <a href="/proyectos#iniciativa-propia">Iniciativa propia</a>
        <a href="/proyectos#experimentacion">Experimentación</a>
    </li>
    <li>
        <h1><a href="/noticias">Noticias</a></h1>

		<a href="/noticias/blog">Blog</a>
		<a href="/noticias/eventos">Eventos</a>
    </li>
    <li>
        <h1>Contacto</h1>

        <a href="/contacto">Contáctenos para saber más sobre cómo el Big Data puede ayudarle a optimizar sus objetivos.</a>

        <a href="mailto:info@indavelopers.com">info@indavelopers.com</a>
    </li>
</ul>
{% endblock %}