{% extends "base.html" %}

{% block head %}
<meta name="description" content="Inicio | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Indavelopers | Consultoría de datos</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation-portada">
        <img class="img-640" src="/static/img/logotipo-640x220.png" alt="Logotipo">

        <h4>Marcos Manuel Ortega. Ingeniero de datos</h4>

        <h1>Indavelopers. <span>Consultoría de datos</span></h1>

        <h3>"El cálculo y el razonamiento, como el tejer y el arar, son trabajos, no para almas humanas, sino para ingeniosas combinaciones de hierro y madera".<br><span>Mary Boole</span></h3>

		<h2>Big Data. <em>La revolución de los datos</em></h2>
    </li>
	<li>
        <h1>Descubra la ingeniería de datos</h1>

        <p><strong>Big Data: <em>"Conjunto de técnicas y tecnologías dedicadas a la adquisición, procesamiento, almacenamiento y análisis de datos con el objetivo de obtener información útil y relevante a partir de ellos".</em></strong></p>

        <h2>Aplicaciones</h2>
        <ul class="bullet_list">
            <li><strong>Inteligencia de negocio:</strong> optimización de procesos internos, procurement, logística, prospección de mercados, detección de tendencias...</li>
            <li><strong>Personalización de contenidos:</strong> RRSS, márketing online, sistemas de recomendación...</li>
            <li><strong>Finanzas:</strong> HFT, servicios de alerta, detección de fraude...</li>
            <li><strong>Optimización de precios:</strong> revenue management, tasador automatizado, gestión de subastas...</li>
        </ul>
	</li>
    <li>
        <h1>Nuestra propuesta</h1>

        <h2>Áreas de especialidad</h2>
        <ul class="bullet_list">
            <li>Aprendizaje automático</li>
            <li>Automatización de procesos de toma de decisiones</li>
			<li>Integración en proyectos de SW</li>
            <li>Soluciones de cloud computing</li>
            <li>Desarrollo e integración de interfaces y SW personalizados</li>
            <li>Red de colaboradores especializados</li>
        </ul>

        <h2>Valores</h2>
        <ul class="bullet_list">
            <li><strong>Dinamismo y agilidad:</strong> metodologías de trabajo ágiles, adaptación a la aplicación en concreto</li>
            <li><strong>Innovación:</strong> últimas técnicas y tecnologías, propuestas para los procesos del cliente</li>
            <li>Confiabilidad, confidencialidad, seguridad</li>
        </ul>

        <h2>Potenciar la comunidad</h2>
        <p>El éxito de cualquier iniciativa e individuo está condicionado por la comunidad donde se apoye. En esta línea, colaboramos activamente en múltiples comunidades, organizando eventos relacionados con la tecnología, el desarrollo de software y el Big Data.</p>

        <ul class="bullet_list">
            <li><a class="decorated_link" href="https://plus.google.com/communities/108207498944847513939">GDG Almería (organizador)</a></li>
            <li><a class="decorated_link" href="http://www.hacklabalmeria.net">Hacklab Almería</a></li>
            <li><a class="decorated_link" href="https://foro.hacklabalmeria.net/c/sw-almeria/ClubPython">Club Python Almería (coordinador)</a></li>
            <li><a class="decorated_link" href="http://grupo-usuarios-r-almeria.github.io">Grupo de Usuarios de R Almería</a></li>
            <li><a class="decorated_link" href="http://www.aldato.es">AlDato - Grupo Periodismo de Datos Almería</a></li>
        </ul>

        <p>Además, publicamos proyectos y código libre y colaboramos con otros proyectos a través de nuestro <a class="decorated_link" href="">Github</a>.</p>
    </li>
    <li>
        <h1>Servicios</h1>

        <ul class="bullet_list">
            <li>Consultoría de soluciones Big Data</li>
            <li>Análisis de datos</li>
            <li>Implementación de sistemas (arquitectura privada/híbrida/cloud computing)</li>
            <li>Soluciones SW completas específicas y personalizadas</li>
            <li>Integración de procesos de adquisición de datos</li>
            <li>Sistemas automatizados de toma de decisiones</li>
            <li>Formación de usuario y profesional</li>
        </ul>
    </li>
    <li>
        <h1>Nuestra operativa</h1>

        <ul class="bullet_list">
            <li>Asesoría de oportunidades de aplicación de Big Data</li>
            <li>Implementación de arquitectura</li>
            <li>Análisis de datos</li>
            <li>Formación de usuarios</li>
            <li>Mantenimiento de sistemas</li>
            <li>Innovación contínua en procesos del cliente</li>
        </ul>
    </li>
    <li>
        <h1><a class="decorated_link_title" href="/proyectos">Proyectos</a></h1>

        <a class="content-link" href="/proyectos#casos-de-exito">Casos de éxito</a>
        <a class="content-link" href="/proyectos#iniciativa-propia">Iniciativa propia</a>
        <a class="content-link" href="/proyectos#experimentacion">Experimentación</a>
    </li>
    <li>
        <h1>Noticias</h1>

		<a class="content-link" href="/blog">Blog</a>
		<a class="content-link" href="/eventos">Eventos</a>
    </li>
    <li>
        <h1>Contacto</h1>

        <p><a class="decorated_link" href="/contacto">Contáctenos</a> para saber más sobre cómo el Big Data puede ayudarle a optimizar sus objetivos.</p>

        <a class="content-link-wide" href="mailto:info@indavelopers.com">info@indavelopers.com</a>
    </li>
</ul>
{% endblock %}