{% extends "base.html" %}

{% block head %}
<meta name="description" content="Mapa web | Indavelopers, soluciones de ingeniería de datos y desarrollo web.">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Mapa web | Indavelopers</title>
{% endblock %}


{% block content %}
<h1>Mapa web</h1>

<ul class="content">
	<li>
		<h2>Secciones</h2>
		
		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/contacto">Contacto</a></li>
			<li><a href="/proyectos">Proyectos</a></li>
			<li><a href="/noticias">Noticias</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/eventos">Eventos</a></li>
			<li><a href="/aviso-legal">Aviso legal</a></li>
			<li><a href="/mapa-web">Mapa web</a></li>
		</ul>
	</li>
</ul>
{% endblock %}