{% extends "base.html" %}

{% block head %}
<meta name="description" content="Mapa web. Indavelopers, soluciones de ingeniería de datos y desarrollo web.">
<meta name="keywords" content="indavelopers, ingeniería de datos, desarrollo web, big data, páginas web, diseño web, almería">
	
<title>Mapa web | Indavelopers</title>
{% endblock %}


{% block content %}
<h1>Mapa web</h1>

<ul class="content-tarjetas">
	<li>
		<h2>Secciones</h2>
		
		<ul class="content-tarjetas-lista">
			<li><a href="/">Inicio</a></li>
			<li><a href="/ingenieria-de-datos">Ingeniería de datos</a></li>
			<li><a href="/desarrollo-web">Desarrollo web</a></li>
			<li><a href="/portfolio">Portfolio</a></li>
			<li><a href="/nuestros-proyectos">Nuestros proyectos</a></li>
			<li><a href="/contacto">Contacto</a></li>
			<li><a href="/aviso-legal">Aviso legal</a></li>
		</ul>
	</li>
</ul>
{% endblock %}