{% extends "base.html" %}

{% block head %}
<meta name="description" content="Mapa web | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Mapa web | Indavelopers</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation">
		<h1>Mapa web</h1>
	</li>
	<li>
		<ul class="bullet_list">
			<li><a class="decorated_link" href="/">Inicio</a></li>
			<li><a class="decorated_link" href="/proyectos">Proyectos</a></li>
			<li><a class="decorated_link" href="/blog">Blog</a></li>
			<li><a class="decorated_link" href="/eventos">Eventos</a></li>
			<li><a class="decorated_link" href="/contacto">Contacto</a></li>
			<li><a class="decorated_link" href="/aviso-legal">Aviso legal</a></li>
			<li><a class="decorated_link" href="/mapa-web">Mapa web</a></li>
		</ul>
	</li>
</ul>
{% endblock %}