{% extends "base.html" %}

{% block head %}
<meta name="description" content="Noticias | Indavelopers, soluciones de ingeniería de datos, big data y diseño y desarrollo web.">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Noticias | Indavelopers</title>
{% endblock %}


{% block content %}
<h1>Noticias</h1>

<ul class="content">
	<li>
		<h2><a href="/noticias/blog">Twitter feed</a></h2>

		<div>
			twitter feed
		</div>
	</li>

	<li>
		<h2><a href="/noticias/blog">Blog</a></h2>

		<ul class="content">
			<li><a href="/noticias/blog/entrada1">entrada1</a></li>
		</ul>
	</li>

	<li>
		<h2><a href="/noticias/eventos">Eventos</a></h2>

		<ul class="content">
			<li><a href="/noticias/eventos/evento1">evento1</a></li>
		</ul>
	</li>
</ul>
{% endblock %}