{% extends "base.html" %}

{% block head %}
<meta name="description" content="Blog | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Blog | Indavelopers</title>
{% endblock %}


{% block content %}
<h1><a href="/noticias/blog">Blog</a></h1>

<ul class="content">
	<li>
		<h2>entrada1</h2>

		<p>entrada1 entrada1 entrada1 entrada1 entrada1 entrada1 entrada1 entrada1 entrada1.</p>

		<a href="/noticias/blog">Volver</a>
	</li>
</ul>
{% endblock %}