{% extends "base.html" %}

{% block head %}
<meta name="description" content="Blog | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Blog | Indavelopers</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation">
		<h1>Blog</h1>
	</li>
	<li>
		{% if post %}
			<h2>{{post.title}}</h2>

			<p>{{post.show_description()}}</p>
		{% else %}
			<h2>Post no encontrado</h2>
		{% endif %}

		<a class="content-link" href="/blog">Volver</a>
	</li>
</ul>
{% endblock %}