{% extends "base.html" %}

{% block head %}
<meta name="description" content="Proyectos | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Proyectos | Indavelopers</title>
{% endblock %}


{% block content %}
<h1>Proyectos</h1>

<ul class="content">
	<li>
		<h2>Casos de éxito</h2>

		<ul>
			{% for p_sc in projects['success_cases'] %}
				<li>
					<h3>{{p_sc.title}}</h3>

					<p>{{p_sc.description}}</p>
				</li>
			{% endfor %}
		</ul>
	</li>

	<li>
		<h2>Iniciativa propia</h2>

		<ul>
			{% for p_oi in projects['own_initiative'] %}
				<li>
					<h3>{{p_oi.title}}</h3>

					<p>{{p_oi.description}}</p>
				</li>
			{% endfor %}
		</ul>
	</li>

	<li>
		<h2>Experimentación</h2>

		<ul>
			{% for p_ex in projects['experimentation'] %}
				<li>
					<h3>{{p_ex.title}}</h3>

					<p>{{p_ex.description}}</p>
				</li>
			{% endfor %}
		</ul>
	</li>
</ul>
{% endblock %}