{% extends "base.html" %}

{% block head %}
<meta name="description" content="Proyectos | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Proyectos | Indavelopers</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation">
		<h1>Proyectos</h1>
	</li>
	<li>
		<h2 id="casos-de-exito">Casos de éxito</h2>

		<ul>
			{% for p_sc in projects['success_cases'] %}
				<li>
					<h3><a class="decorated_link_title" href="/proyectos/{{p_sc.title_url}}">{{p_sc.title}}</a></h3>

					<p>{{p_sc.show_description()}}</p>
				</li>
			{% else %}
				<li>
					<p class="centered">No hemos publicado aún nuestros proyectos para esta categoria.</p>
				</li>
			{% endfor %}
		</ul>
	</li>

	<li>
		<h2 id="iniciativa-propia">Iniciativa propia</h2>

		<ul>
			{% for p_oi in projects['own_initiative'] %}
				<li>
					<h3><a class="decorated_link_title" href="/proyectos/{{p_oi.title_url}}">{{p_oi.title}}</a></h3>

					<p>{{p_oi.show_description()}}</p>
				</li>
			{% else %}
				<li>
					<p class="centered">No hemos publicado aún nuestros proyectos para esta categoria.</p>
				</li>
			{% endfor %}
		</ul>
	</li>

	<li>
		<h2 id="experimentacion">Experimentación</h2>

		<ul>
			{% for p_ex in projects['experimentation'] %}
				<li>
					<h3><a class="decorated_link_title" href="/proyectos/{{p_ex.title_url}}">{{p_ex.title}}</a></h3>

					<p>{{p_ex.show_description()}}</p>
				</li>
			{% else %}
				<li>
					<p class="centered">No hemos publicado aún nuestros proyectos para esta categoria.</p>
				</li>
			{% endfor %}
		</ul>
	</li>
</ul>
{% endblock %}