{% extends "base.html" %}

{% block head %}
<meta name="description" content="Proyectos | Indavelopers, soluciones de ingeniería de datos, big data y diseño y desarrollo web.">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Proyectos | Indavelopers</title>
{% endblock %}


{% block content %}
<h1>Proyectos</h1>

<ul class="content">
	<li>
		<h2>Casos de éxito</h2>

		<ul>
			<li>
				<h3>Proyecto1</h3>

				<p>Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1</p>
			</li>
			<li>
				<h3>Proyecto2</h3>

				<p>Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1</p>
			</li>
			<li>
				<h3>Proyecto3</h3>

				<p>Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1</p>
			</li>
		</ul>
	</li>

	<li>
		<h2>Iniciativa propia</h2>

		<ul>
			<li>
				<h3>Proyecto1</h3>

				<p>Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1</p>
			</li>
			<li>
				<h3>Proyecto2</h3>

				<p>Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1</p>
			</li>
			<li>
				<h3>Proyecto3</h3>

				<p>Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1</p>
			</li>
		</ul>
	</li>

	<li>
		<h2>Experimentación</h2>

		<ul>
			<li>
				<h3>Proyecto1</h3>

				<p>Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1</p>
			</li>
			<li>
				<h3>Proyecto2</h3>

				<p>Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1</p>
			</li>
			<li>
				<h3>Proyecto3</h3>

				<p>Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1 Descripción proyecto1</p>
			</li>
		</ul>
	</li>
</ul>
{% endblock %}