{% extends "base.html" %}

{% block head %}
<meta name="description" content="Proyectos | Indavelopers. Consultoría de datos. Soluciones de Big Data">
<meta name="keywords" content="indavelopers, consultoría almería, big data, ingeniería de datos, aprendizaje automático, almería">
	
<title>Proyectos | Indavelopers</title>
{% endblock %}


{% block content %}
<ul class="content">
	<li id="content-presentation">
		<h1>Proyectos</h1>
	</li>
	<li>
		<h2>{{project.title}}</h2>

		<p>{{project.description}}</p>

		<a class="content-link" href="/proyectos">Volver</a>
	</li>
</ul>
{% endblock %}